
    .🌈-30m {
      color: #000000;
    }
  
    .🌈-31m {
      color: #800000;
    }
  
    .🌈-32m {
      color: #008000;
    }
  
    .🌈-33m {
      color: #808000;
    }
  
    .🌈-34m {
      color: #000080;
    }
  
    .🌈-35m {
      color: #800080;
    }
  
    .🌈-36m {
      color: #008080;
    }
  
    .🌈-37m {
      color: #c0c0c0;
    }
  
    .🌈-38m {
      color: #808080;
    }
  