
    .🌈-1m {
      font-weight: bold;
    }
  
    .🌈-3m {
      font-style: italic;
    }
  
    .🌈-4m {
      text-decoration: underline;
    }
  
    .🌈-21m {
      font-weight: normal;
    }
  
    .🌈-30m {
      color: #000000;
    }
  
    .🌈-31m {
      color: #800000;
    }
  
    .🌈-32m {
      color: #008000;
    }
  
    .🌈-33m {
      color: #808000;
    }
  
    .🌈-34m {
      color: #000080;
    }
  
    .🌈-35m {
      color: #800080;
    }
  
    .🌈-36m {
      color: #008080;
    }
  
    .🌈-37m {
      color: #c0c0c0;
    }
  
    .🌈-40m {
      background-color: #000000;
    }
  
    .🌈-41m {
      background-color: #800000;
    }
  
    .🌈-42m {
      background-color: #008000;
    }
  
    .🌈-43m {
      background-color: #808000;
    }
  
    .🌈-44m {
      background-color: #000080;
    }
  
    .🌈-45m {
      background-color: #800080;
    }
  
    .🌈-46m {
      background-color: #008080;
    }
  
    .🌈-47m {
      background-color: #c0c0c0;
    }
  
    .🌈-48m {
      background-color: #808080;
    }
  
    .🌈-53m {
      text-decoration: overline;
    }
  
    .🌈-90m {
      color: rgb(85,85,85);
    }
  
    .🌈-91m {
      color: rgb(255,0,0);
    }
  
    .🌈-92m {
      color: rgb(0,252,0);
    }
  
    .🌈-93m {
      color: rgb(255,255,0);
    }
  
    .🌈-94m {
      color: rgb(0,0,252);
    }
  
    .🌈-95m {
      color: rgb(255,0,255);
    }
  
    .🌈-96m {
      color: rgb(0,255,255);
    }
  
    .🌈-97m {
      color: rgb(255,255,255);
    }
  
    .🌈-100m {
      color: rgb(85,85,85);
    }
  
    .🌈-101m {
      color: rgb(255,0,0);
    }
  
    .🌈-102m {
      color: rgb(0,252,0);
    }
  
    .🌈-103m {
      color: rgb(255,2255,0);
    }
  
    .🌈-104m {
      color: rgb(0,0,252);
    }
  
    .🌈-105m {
      color: rgb(255,0,255);
    }
  
    .🌈-106m {
      color: rgb(0,255,255);
    }
  
    .🌈-bg-0 {
      background-color: rgb(0,0,0);
    }
    .🌈-fg-0 {
      color: rgb(0,0,0);
    }
    .🌈-bg-1 {
      background-color: rgb(128,0,0);
    }
    .🌈-fg-1 {
      color: rgb(128,0,0);
    }
    .🌈-bg-2 {
      background-color: rgb(0,128,0);
    }
    .🌈-fg-2 {
      color: rgb(0,128,0);
    }
    .🌈-bg-3 {
      background-color: rgb(128,128,0);
    }
    .🌈-fg-3 {
      color: rgb(128,128,0);
    }
    .🌈-bg-4 {
      background-color: rgb(0,0,128);
    }
    .🌈-fg-4 {
      color: rgb(0,0,128);
    }
    .🌈-bg-5 {
      background-color: rgb(128,0,128);
    }
    .🌈-fg-5 {
      color: rgb(128,0,128);
    }
    .🌈-bg-6 {
      background-color: rgb(0,128,128);
    }
    .🌈-fg-6 {
      color: rgb(0,128,128);
    }
    .🌈-bg-7 {
      background-color: rgb(192,192,192);
    }
    .🌈-fg-7 {
      color: rgb(192,192,192);
    }
    .🌈-bg-8 {
      background-color: rgb(128,128,128);
    }
    .🌈-fg-8 {
      color: rgb(128,128,128);
    }
    .🌈-bg-9 {
      background-color: rgb(255,0,0);
    }
    .🌈-fg-9 {
      color: rgb(255,0,0);
    }
    .🌈-bg-10 {
      background-color: rgb(0,255,0);
    }
    .🌈-fg-10 {
      color: rgb(0,255,0);
    }
    .🌈-bg-11 {
      background-color: rgb(255,255,0);
    }
    .🌈-fg-11 {
      color: rgb(255,255,0);
    }
    .🌈-bg-12 {
      background-color: rgb(0,0,255);
    }
    .🌈-fg-12 {
      color: rgb(0,0,255);
    }
    .🌈-bg-13 {
      background-color: rgb(255,0,255);
    }
    .🌈-fg-13 {
      color: rgb(255,0,255);
    }
    .🌈-bg-14 {
      background-color: rgb(0,255,255);
    }
    .🌈-fg-14 {
      color: rgb(0,255,255);
    }
    .🌈-bg-15 {
      background-color: rgb(255,255,255);
    }
    .🌈-fg-15 {
      color: rgb(255,255,255);
    }
    .🌈-bg-16 {
      background-color: rgb(0,0,0);
    }
    .🌈-fg-16 {
      color: rgb(0,0,0);
    }
    .🌈-bg-17 {
      background-color: rgb(0,0,95);
    }
    .🌈-fg-17 {
      color: rgb(0,0,95);
    }
    .🌈-bg-18 {
      background-color: rgb(0,0,135);
    }
    .🌈-fg-18 {
      color: rgb(0,0,135);
    }
    .🌈-bg-19 {
      background-color: rgb(0,0,175);
    }
    .🌈-fg-19 {
      color: rgb(0,0,175);
    }
    .🌈-bg-20 {
      background-color: rgb(0,0,215);
    }
    .🌈-fg-20 {
      color: rgb(0,0,215);
    }
    .🌈-bg-21 {
      background-color: rgb(0,0,255);
    }
    .🌈-fg-21 {
      color: rgb(0,0,255);
    }
    .🌈-bg-22 {
      background-color: rgb(0,95,0);
    }
    .🌈-fg-22 {
      color: rgb(0,95,0);
    }
    .🌈-bg-23 {
      background-color: rgb(0,95,95);
    }
    .🌈-fg-23 {
      color: rgb(0,95,95);
    }
    .🌈-bg-24 {
      background-color: rgb(0,95,135);
    }
    .🌈-fg-24 {
      color: rgb(0,95,135);
    }
    .🌈-bg-25 {
      background-color: rgb(0,95,175);
    }
    .🌈-fg-25 {
      color: rgb(0,95,175);
    }
    .🌈-bg-26 {
      background-color: rgb(0,95,215);
    }
    .🌈-fg-26 {
      color: rgb(0,95,215);
    }
    .🌈-bg-27 {
      background-color: rgb(0,95,255);
    }
    .🌈-fg-27 {
      color: rgb(0,95,255);
    }
    .🌈-bg-28 {
      background-color: rgb(0,135,0);
    }
    .🌈-fg-28 {
      color: rgb(0,135,0);
    }
    .🌈-bg-29 {
      background-color: rgb(0,135,95);
    }
    .🌈-fg-29 {
      color: rgb(0,135,95);
    }
    .🌈-bg-30 {
      background-color: rgb(0,135,135);
    }
    .🌈-fg-30 {
      color: rgb(0,135,135);
    }
    .🌈-bg-31 {
      background-color: rgb(0,135,175);
    }
    .🌈-fg-31 {
      color: rgb(0,135,175);
    }
    .🌈-bg-32 {
      background-color: rgb(0,135,215);
    }
    .🌈-fg-32 {
      color: rgb(0,135,215);
    }
    .🌈-bg-33 {
      background-color: rgb(0,135,255);
    }
    .🌈-fg-33 {
      color: rgb(0,135,255);
    }
    .🌈-bg-34 {
      background-color: rgb(0,175,0);
    }
    .🌈-fg-34 {
      color: rgb(0,175,0);
    }
    .🌈-bg-35 {
      background-color: rgb(0,175,95);
    }
    .🌈-fg-35 {
      color: rgb(0,175,95);
    }
    .🌈-bg-36 {
      background-color: rgb(0,175,135);
    }
    .🌈-fg-36 {
      color: rgb(0,175,135);
    }
    .🌈-bg-37 {
      background-color: rgb(0,175,175);
    }
    .🌈-fg-37 {
      color: rgb(0,175,175);
    }
    .🌈-bg-38 {
      background-color: rgb(0,175,215);
    }
    .🌈-fg-38 {
      color: rgb(0,175,215);
    }
    .🌈-bg-39 {
      background-color: rgb(0,175,255);
    }
    .🌈-fg-39 {
      color: rgb(0,175,255);
    }
    .🌈-bg-40 {
      background-color: rgb(0,215,0);
    }
    .🌈-fg-40 {
      color: rgb(0,215,0);
    }
    .🌈-bg-41 {
      background-color: rgb(0,215,95);
    }
    .🌈-fg-41 {
      color: rgb(0,215,95);
    }
    .🌈-bg-42 {
      background-color: rgb(0,215,135);
    }
    .🌈-fg-42 {
      color: rgb(0,215,135);
    }
    .🌈-bg-43 {
      background-color: rgb(0,215,175);
    }
    .🌈-fg-43 {
      color: rgb(0,215,175);
    }
    .🌈-bg-44 {
      background-color: rgb(0,215,215);
    }
    .🌈-fg-44 {
      color: rgb(0,215,215);
    }
    .🌈-bg-45 {
      background-color: rgb(0,215,255);
    }
    .🌈-fg-45 {
      color: rgb(0,215,255);
    }
    .🌈-bg-46 {
      background-color: rgb(0,255,0);
    }
    .🌈-fg-46 {
      color: rgb(0,255,0);
    }
    .🌈-bg-47 {
      background-color: rgb(0,255,95);
    }
    .🌈-fg-47 {
      color: rgb(0,255,95);
    }
    .🌈-bg-48 {
      background-color: rgb(0,255,135);
    }
    .🌈-fg-48 {
      color: rgb(0,255,135);
    }
    .🌈-bg-49 {
      background-color: rgb(0,255,175);
    }
    .🌈-fg-49 {
      color: rgb(0,255,175);
    }
    .🌈-bg-50 {
      background-color: rgb(0,255,215);
    }
    .🌈-fg-50 {
      color: rgb(0,255,215);
    }
    .🌈-bg-51 {
      background-color: rgb(0,255,255);
    }
    .🌈-fg-51 {
      color: rgb(0,255,255);
    }
    .🌈-bg-52 {
      background-color: rgb(95,0,0);
    }
    .🌈-fg-52 {
      color: rgb(95,0,0);
    }
    .🌈-bg-53 {
      background-color: rgb(95,0,95);
    }
    .🌈-fg-53 {
      color: rgb(95,0,95);
    }
    .🌈-bg-54 {
      background-color: rgb(95,0,135);
    }
    .🌈-fg-54 {
      color: rgb(95,0,135);
    }
    .🌈-bg-55 {
      background-color: rgb(95,0,175);
    }
    .🌈-fg-55 {
      color: rgb(95,0,175);
    }
    .🌈-bg-56 {
      background-color: rgb(95,0,215);
    }
    .🌈-fg-56 {
      color: rgb(95,0,215);
    }
    .🌈-bg-57 {
      background-color: rgb(95,0,255);
    }
    .🌈-fg-57 {
      color: rgb(95,0,255);
    }
    .🌈-bg-58 {
      background-color: rgb(95,95,0);
    }
    .🌈-fg-58 {
      color: rgb(95,95,0);
    }
    .🌈-bg-59 {
      background-color: rgb(95,95,95);
    }
    .🌈-fg-59 {
      color: rgb(95,95,95);
    }
    .🌈-bg-60 {
      background-color: rgb(95,95,135);
    }
    .🌈-fg-60 {
      color: rgb(95,95,135);
    }
    .🌈-bg-61 {
      background-color: rgb(95,95,175);
    }
    .🌈-fg-61 {
      color: rgb(95,95,175);
    }
    .🌈-bg-62 {
      background-color: rgb(95,95,215);
    }
    .🌈-fg-62 {
      color: rgb(95,95,215);
    }
    .🌈-bg-63 {
      background-color: rgb(95,95,255);
    }
    .🌈-fg-63 {
      color: rgb(95,95,255);
    }
    .🌈-bg-64 {
      background-color: rgb(95,135,0);
    }
    .🌈-fg-64 {
      color: rgb(95,135,0);
    }
    .🌈-bg-65 {
      background-color: rgb(95,135,95);
    }
    .🌈-fg-65 {
      color: rgb(95,135,95);
    }
    .🌈-bg-66 {
      background-color: rgb(95,135,135);
    }
    .🌈-fg-66 {
      color: rgb(95,135,135);
    }
    .🌈-bg-67 {
      background-color: rgb(95,135,175);
    }
    .🌈-fg-67 {
      color: rgb(95,135,175);
    }
    .🌈-bg-68 {
      background-color: rgb(95,135,215);
    }
    .🌈-fg-68 {
      color: rgb(95,135,215);
    }
    .🌈-bg-69 {
      background-color: rgb(95,135,255);
    }
    .🌈-fg-69 {
      color: rgb(95,135,255);
    }
    .🌈-bg-70 {
      background-color: rgb(95,175,0);
    }
    .🌈-fg-70 {
      color: rgb(95,175,0);
    }
    .🌈-bg-71 {
      background-color: rgb(95,175,95);
    }
    .🌈-fg-71 {
      color: rgb(95,175,95);
    }
    .🌈-bg-72 {
      background-color: rgb(95,175,135);
    }
    .🌈-fg-72 {
      color: rgb(95,175,135);
    }
    .🌈-bg-73 {
      background-color: rgb(95,175,175);
    }
    .🌈-fg-73 {
      color: rgb(95,175,175);
    }
    .🌈-bg-74 {
      background-color: rgb(95,175,215);
    }
    .🌈-fg-74 {
      color: rgb(95,175,215);
    }
    .🌈-bg-75 {
      background-color: rgb(95,175,255);
    }
    .🌈-fg-75 {
      color: rgb(95,175,255);
    }
    .🌈-bg-76 {
      background-color: rgb(95,215,0);
    }
    .🌈-fg-76 {
      color: rgb(95,215,0);
    }
    .🌈-bg-77 {
      background-color: rgb(95,215,95);
    }
    .🌈-fg-77 {
      color: rgb(95,215,95);
    }
    .🌈-bg-78 {
      background-color: rgb(95,215,135);
    }
    .🌈-fg-78 {
      color: rgb(95,215,135);
    }
    .🌈-bg-79 {
      background-color: rgb(95,215,175);
    }
    .🌈-fg-79 {
      color: rgb(95,215,175);
    }
    .🌈-bg-80 {
      background-color: rgb(95,215,215);
    }
    .🌈-fg-80 {
      color: rgb(95,215,215);
    }
    .🌈-bg-81 {
      background-color: rgb(95,215,255);
    }
    .🌈-fg-81 {
      color: rgb(95,215,255);
    }
    .🌈-bg-82 {
      background-color: rgb(95,255,0);
    }
    .🌈-fg-82 {
      color: rgb(95,255,0);
    }
    .🌈-bg-83 {
      background-color: rgb(95,255,95);
    }
    .🌈-fg-83 {
      color: rgb(95,255,95);
    }
    .🌈-bg-84 {
      background-color: rgb(95,255,135);
    }
    .🌈-fg-84 {
      color: rgb(95,255,135);
    }
    .🌈-bg-85 {
      background-color: rgb(95,255,175);
    }
    .🌈-fg-85 {
      color: rgb(95,255,175);
    }
    .🌈-bg-86 {
      background-color: rgb(95,255,215);
    }
    .🌈-fg-86 {
      color: rgb(95,255,215);
    }
    .🌈-bg-87 {
      background-color: rgb(95,255,255);
    }
    .🌈-fg-87 {
      color: rgb(95,255,255);
    }
    .🌈-bg-88 {
      background-color: rgb(135,0,0);
    }
    .🌈-fg-88 {
      color: rgb(135,0,0);
    }
    .🌈-bg-89 {
      background-color: rgb(135,0,95);
    }
    .🌈-fg-89 {
      color: rgb(135,0,95);
    }
    .🌈-bg-90 {
      background-color: rgb(135,0,135);
    }
    .🌈-fg-90 {
      color: rgb(135,0,135);
    }
    .🌈-bg-91 {
      background-color: rgb(135,0,175);
    }
    .🌈-fg-91 {
      color: rgb(135,0,175);
    }
    .🌈-bg-92 {
      background-color: rgb(135,0,215);
    }
    .🌈-fg-92 {
      color: rgb(135,0,215);
    }
    .🌈-bg-93 {
      background-color: rgb(135,0,255);
    }
    .🌈-fg-93 {
      color: rgb(135,0,255);
    }
    .🌈-bg-94 {
      background-color: rgb(135,95,0);
    }
    .🌈-fg-94 {
      color: rgb(135,95,0);
    }
    .🌈-bg-95 {
      background-color: rgb(135,95,95);
    }
    .🌈-fg-95 {
      color: rgb(135,95,95);
    }
    .🌈-bg-96 {
      background-color: rgb(135,95,135);
    }
    .🌈-fg-96 {
      color: rgb(135,95,135);
    }
    .🌈-bg-97 {
      background-color: rgb(135,95,175);
    }
    .🌈-fg-97 {
      color: rgb(135,95,175);
    }
    .🌈-bg-98 {
      background-color: rgb(135,95,215);
    }
    .🌈-fg-98 {
      color: rgb(135,95,215);
    }
    .🌈-bg-99 {
      background-color: rgb(135,95,255);
    }
    .🌈-fg-99 {
      color: rgb(135,95,255);
    }
    .🌈-bg-100 {
      background-color: rgb(135,135,0);
    }
    .🌈-fg-100 {
      color: rgb(135,135,0);
    }
    .🌈-bg-101 {
      background-color: rgb(135,135,95);
    }
    .🌈-fg-101 {
      color: rgb(135,135,95);
    }
    .🌈-bg-102 {
      background-color: rgb(135,135,135);
    }
    .🌈-fg-102 {
      color: rgb(135,135,135);
    }
    .🌈-bg-103 {
      background-color: rgb(135,135,175);
    }
    .🌈-fg-103 {
      color: rgb(135,135,175);
    }
    .🌈-bg-104 {
      background-color: rgb(135,135,215);
    }
    .🌈-fg-104 {
      color: rgb(135,135,215);
    }
    .🌈-bg-105 {
      background-color: rgb(135,135,255);
    }
    .🌈-fg-105 {
      color: rgb(135,135,255);
    }
    .🌈-bg-106 {
      background-color: rgb(135,175,0);
    }
    .🌈-fg-106 {
      color: rgb(135,175,0);
    }
    .🌈-bg-107 {
      background-color: rgb(135,175,95);
    }
    .🌈-fg-107 {
      color: rgb(135,175,95);
    }
    .🌈-bg-108 {
      background-color: rgb(135,175,135);
    }
    .🌈-fg-108 {
      color: rgb(135,175,135);
    }
    .🌈-bg-109 {
      background-color: rgb(135,175,175);
    }
    .🌈-fg-109 {
      color: rgb(135,175,175);
    }
    .🌈-bg-110 {
      background-color: rgb(135,175,215);
    }
    .🌈-fg-110 {
      color: rgb(135,175,215);
    }
    .🌈-bg-111 {
      background-color: rgb(135,175,255);
    }
    .🌈-fg-111 {
      color: rgb(135,175,255);
    }
    .🌈-bg-112 {
      background-color: rgb(135,215,0);
    }
    .🌈-fg-112 {
      color: rgb(135,215,0);
    }
    .🌈-bg-113 {
      background-color: rgb(135,215,95);
    }
    .🌈-fg-113 {
      color: rgb(135,215,95);
    }
    .🌈-bg-114 {
      background-color: rgb(135,215,135);
    }
    .🌈-fg-114 {
      color: rgb(135,215,135);
    }
    .🌈-bg-115 {
      background-color: rgb(135,215,175);
    }
    .🌈-fg-115 {
      color: rgb(135,215,175);
    }
    .🌈-bg-116 {
      background-color: rgb(135,215,215);
    }
    .🌈-fg-116 {
      color: rgb(135,215,215);
    }
    .🌈-bg-117 {
      background-color: rgb(135,215,255);
    }
    .🌈-fg-117 {
      color: rgb(135,215,255);
    }
    .🌈-bg-118 {
      background-color: rgb(135,255,0);
    }
    .🌈-fg-118 {
      color: rgb(135,255,0);
    }
    .🌈-bg-119 {
      background-color: rgb(135,255,95);
    }
    .🌈-fg-119 {
      color: rgb(135,255,95);
    }
    .🌈-bg-120 {
      background-color: rgb(135,255,135);
    }
    .🌈-fg-120 {
      color: rgb(135,255,135);
    }
    .🌈-bg-121 {
      background-color: rgb(135,255,175);
    }
    .🌈-fg-121 {
      color: rgb(135,255,175);
    }
    .🌈-bg-122 {
      background-color: rgb(135,255,215);
    }
    .🌈-fg-122 {
      color: rgb(135,255,215);
    }
    .🌈-bg-123 {
      background-color: rgb(135,255,255);
    }
    .🌈-fg-123 {
      color: rgb(135,255,255);
    }
    .🌈-bg-124 {
      background-color: rgb(175,0,0);
    }
    .🌈-fg-124 {
      color: rgb(175,0,0);
    }
    .🌈-bg-125 {
      background-color: rgb(175,0,95);
    }
    .🌈-fg-125 {
      color: rgb(175,0,95);
    }
    .🌈-bg-126 {
      background-color: rgb(175,0,135);
    }
    .🌈-fg-126 {
      color: rgb(175,0,135);
    }
    .🌈-bg-127 {
      background-color: rgb(175,0,175);
    }
    .🌈-fg-127 {
      color: rgb(175,0,175);
    }
    .🌈-bg-128 {
      background-color: rgb(175,0,215);
    }
    .🌈-fg-128 {
      color: rgb(175,0,215);
    }
    .🌈-bg-129 {
      background-color: rgb(175,0,255);
    }
    .🌈-fg-129 {
      color: rgb(175,0,255);
    }
    .🌈-bg-130 {
      background-color: rgb(175,95,0);
    }
    .🌈-fg-130 {
      color: rgb(175,95,0);
    }
    .🌈-bg-131 {
      background-color: rgb(175,95,95);
    }
    .🌈-fg-131 {
      color: rgb(175,95,95);
    }
    .🌈-bg-132 {
      background-color: rgb(175,95,135);
    }
    .🌈-fg-132 {
      color: rgb(175,95,135);
    }
    .🌈-bg-133 {
      background-color: rgb(175,95,175);
    }
    .🌈-fg-133 {
      color: rgb(175,95,175);
    }
    .🌈-bg-134 {
      background-color: rgb(175,95,215);
    }
    .🌈-fg-134 {
      color: rgb(175,95,215);
    }
    .🌈-bg-135 {
      background-color: rgb(175,95,255);
    }
    .🌈-fg-135 {
      color: rgb(175,95,255);
    }
    .🌈-bg-136 {
      background-color: rgb(175,135,0);
    }
    .🌈-fg-136 {
      color: rgb(175,135,0);
    }
    .🌈-bg-137 {
      background-color: rgb(175,135,95);
    }
    .🌈-fg-137 {
      color: rgb(175,135,95);
    }
    .🌈-bg-138 {
      background-color: rgb(175,135,135);
    }
    .🌈-fg-138 {
      color: rgb(175,135,135);
    }
    .🌈-bg-139 {
      background-color: rgb(175,135,175);
    }
    .🌈-fg-139 {
      color: rgb(175,135,175);
    }
    .🌈-bg-140 {
      background-color: rgb(175,135,215);
    }
    .🌈-fg-140 {
      color: rgb(175,135,215);
    }
    .🌈-bg-141 {
      background-color: rgb(175,135,255);
    }
    .🌈-fg-141 {
      color: rgb(175,135,255);
    }
    .🌈-bg-142 {
      background-color: rgb(175,175,0);
    }
    .🌈-fg-142 {
      color: rgb(175,175,0);
    }
    .🌈-bg-143 {
      background-color: rgb(175,175,95);
    }
    .🌈-fg-143 {
      color: rgb(175,175,95);
    }
    .🌈-bg-144 {
      background-color: rgb(175,175,135);
    }
    .🌈-fg-144 {
      color: rgb(175,175,135);
    }
    .🌈-bg-145 {
      background-color: rgb(175,175,175);
    }
    .🌈-fg-145 {
      color: rgb(175,175,175);
    }
    .🌈-bg-146 {
      background-color: rgb(175,175,215);
    }
    .🌈-fg-146 {
      color: rgb(175,175,215);
    }
    .🌈-bg-147 {
      background-color: rgb(175,175,255);
    }
    .🌈-fg-147 {
      color: rgb(175,175,255);
    }
    .🌈-bg-148 {
      background-color: rgb(175,215,0);
    }
    .🌈-fg-148 {
      color: rgb(175,215,0);
    }
    .🌈-bg-149 {
      background-color: rgb(175,215,95);
    }
    .🌈-fg-149 {
      color: rgb(175,215,95);
    }
    .🌈-bg-150 {
      background-color: rgb(175,215,135);
    }
    .🌈-fg-150 {
      color: rgb(175,215,135);
    }
    .🌈-bg-151 {
      background-color: rgb(175,215,175);
    }
    .🌈-fg-151 {
      color: rgb(175,215,175);
    }
    .🌈-bg-152 {
      background-color: rgb(175,215,215);
    }
    .🌈-fg-152 {
      color: rgb(175,215,215);
    }
    .🌈-bg-153 {
      background-color: rgb(175,215,255);
    }
    .🌈-fg-153 {
      color: rgb(175,215,255);
    }
    .🌈-bg-154 {
      background-color: rgb(175,255,0);
    }
    .🌈-fg-154 {
      color: rgb(175,255,0);
    }
    .🌈-bg-155 {
      background-color: rgb(175,255,95);
    }
    .🌈-fg-155 {
      color: rgb(175,255,95);
    }
    .🌈-bg-156 {
      background-color: rgb(175,255,135);
    }
    .🌈-fg-156 {
      color: rgb(175,255,135);
    }
    .🌈-bg-157 {
      background-color: rgb(175,255,175);
    }
    .🌈-fg-157 {
      color: rgb(175,255,175);
    }
    .🌈-bg-158 {
      background-color: rgb(175,255,215);
    }
    .🌈-fg-158 {
      color: rgb(175,255,215);
    }
    .🌈-bg-159 {
      background-color: rgb(175,255,255);
    }
    .🌈-fg-159 {
      color: rgb(175,255,255);
    }
    .🌈-bg-160 {
      background-color: rgb(215,0,0);
    }
    .🌈-fg-160 {
      color: rgb(215,0,0);
    }
    .🌈-bg-161 {
      background-color: rgb(215,0,95);
    }
    .🌈-fg-161 {
      color: rgb(215,0,95);
    }
    .🌈-bg-162 {
      background-color: rgb(215,0,135);
    }
    .🌈-fg-162 {
      color: rgb(215,0,135);
    }
    .🌈-bg-163 {
      background-color: rgb(215,0,175);
    }
    .🌈-fg-163 {
      color: rgb(215,0,175);
    }
    .🌈-bg-164 {
      background-color: rgb(215,0,215);
    }
    .🌈-fg-164 {
      color: rgb(215,0,215);
    }
    .🌈-bg-165 {
      background-color: rgb(215,0,255);
    }
    .🌈-fg-165 {
      color: rgb(215,0,255);
    }
    .🌈-bg-166 {
      background-color: rgb(215,95,0);
    }
    .🌈-fg-166 {
      color: rgb(215,95,0);
    }
    .🌈-bg-167 {
      background-color: rgb(215,95,95);
    }
    .🌈-fg-167 {
      color: rgb(215,95,95);
    }
    .🌈-bg-168 {
      background-color: rgb(215,95,135);
    }
    .🌈-fg-168 {
      color: rgb(215,95,135);
    }
    .🌈-bg-169 {
      background-color: rgb(215,95,175);
    }
    .🌈-fg-169 {
      color: rgb(215,95,175);
    }
    .🌈-bg-170 {
      background-color: rgb(215,95,215);
    }
    .🌈-fg-170 {
      color: rgb(215,95,215);
    }
    .🌈-bg-171 {
      background-color: rgb(215,95,255);
    }
    .🌈-fg-171 {
      color: rgb(215,95,255);
    }
    .🌈-bg-172 {
      background-color: rgb(215,135,0);
    }
    .🌈-fg-172 {
      color: rgb(215,135,0);
    }
    .🌈-bg-173 {
      background-color: rgb(215,135,95);
    }
    .🌈-fg-173 {
      color: rgb(215,135,95);
    }
    .🌈-bg-174 {
      background-color: rgb(215,135,135);
    }
    .🌈-fg-174 {
      color: rgb(215,135,135);
    }
    .🌈-bg-175 {
      background-color: rgb(215,135,175);
    }
    .🌈-fg-175 {
      color: rgb(215,135,175);
    }
    .🌈-bg-176 {
      background-color: rgb(215,135,215);
    }
    .🌈-fg-176 {
      color: rgb(215,135,215);
    }
    .🌈-bg-177 {
      background-color: rgb(215,135,255);
    }
    .🌈-fg-177 {
      color: rgb(215,135,255);
    }
    .🌈-bg-178 {
      background-color: rgb(215,175,0);
    }
    .🌈-fg-178 {
      color: rgb(215,175,0);
    }
    .🌈-bg-179 {
      background-color: rgb(215,175,95);
    }
    .🌈-fg-179 {
      color: rgb(215,175,95);
    }
    .🌈-bg-180 {
      background-color: rgb(215,175,135);
    }
    .🌈-fg-180 {
      color: rgb(215,175,135);
    }
    .🌈-bg-181 {
      background-color: rgb(215,175,175);
    }
    .🌈-fg-181 {
      color: rgb(215,175,175);
    }
    .🌈-bg-182 {
      background-color: rgb(215,175,215);
    }
    .🌈-fg-182 {
      color: rgb(215,175,215);
    }
    .🌈-bg-183 {
      background-color: rgb(215,175,255);
    }
    .🌈-fg-183 {
      color: rgb(215,175,255);
    }
    .🌈-bg-184 {
      background-color: rgb(215,215,0);
    }
    .🌈-fg-184 {
      color: rgb(215,215,0);
    }
    .🌈-bg-185 {
      background-color: rgb(215,215,95);
    }
    .🌈-fg-185 {
      color: rgb(215,215,95);
    }
    .🌈-bg-186 {
      background-color: rgb(215,215,135);
    }
    .🌈-fg-186 {
      color: rgb(215,215,135);
    }
    .🌈-bg-187 {
      background-color: rgb(215,215,175);
    }
    .🌈-fg-187 {
      color: rgb(215,215,175);
    }
    .🌈-bg-188 {
      background-color: rgb(215,215,215);
    }
    .🌈-fg-188 {
      color: rgb(215,215,215);
    }
    .🌈-bg-189 {
      background-color: rgb(215,215,255);
    }
    .🌈-fg-189 {
      color: rgb(215,215,255);
    }
    .🌈-bg-190 {
      background-color: rgb(215,255,0);
    }
    .🌈-fg-190 {
      color: rgb(215,255,0);
    }
    .🌈-bg-191 {
      background-color: rgb(215,255,95);
    }
    .🌈-fg-191 {
      color: rgb(215,255,95);
    }
    .🌈-bg-192 {
      background-color: rgb(215,255,135);
    }
    .🌈-fg-192 {
      color: rgb(215,255,135);
    }
    .🌈-bg-193 {
      background-color: rgb(215,255,175);
    }
    .🌈-fg-193 {
      color: rgb(215,255,175);
    }
    .🌈-bg-194 {
      background-color: rgb(215,255,215);
    }
    .🌈-fg-194 {
      color: rgb(215,255,215);
    }
    .🌈-bg-195 {
      background-color: rgb(215,255,255);
    }
    .🌈-fg-195 {
      color: rgb(215,255,255);
    }
    .🌈-bg-196 {
      background-color: rgb(255,0,0);
    }
    .🌈-fg-196 {
      color: rgb(255,0,0);
    }
    .🌈-bg-197 {
      background-color: rgb(255,0,95);
    }
    .🌈-fg-197 {
      color: rgb(255,0,95);
    }
    .🌈-bg-198 {
      background-color: rgb(255,0,135);
    }
    .🌈-fg-198 {
      color: rgb(255,0,135);
    }
    .🌈-bg-199 {
      background-color: rgb(255,0,175);
    }
    .🌈-fg-199 {
      color: rgb(255,0,175);
    }
    .🌈-bg-200 {
      background-color: rgb(255,0,215);
    }
    .🌈-fg-200 {
      color: rgb(255,0,215);
    }
    .🌈-bg-201 {
      background-color: rgb(255,0,255);
    }
    .🌈-fg-201 {
      color: rgb(255,0,255);
    }
    .🌈-bg-202 {
      background-color: rgb(255,95,0);
    }
    .🌈-fg-202 {
      color: rgb(255,95,0);
    }
    .🌈-bg-203 {
      background-color: rgb(255,95,95);
    }
    .🌈-fg-203 {
      color: rgb(255,95,95);
    }
    .🌈-bg-204 {
      background-color: rgb(255,95,135);
    }
    .🌈-fg-204 {
      color: rgb(255,95,135);
    }
    .🌈-bg-205 {
      background-color: rgb(255,95,175);
    }
    .🌈-fg-205 {
      color: rgb(255,95,175);
    }
    .🌈-bg-206 {
      background-color: rgb(255,95,215);
    }
    .🌈-fg-206 {
      color: rgb(255,95,215);
    }
    .🌈-bg-207 {
      background-color: rgb(255,95,255);
    }
    .🌈-fg-207 {
      color: rgb(255,95,255);
    }
    .🌈-bg-208 {
      background-color: rgb(255,135,0);
    }
    .🌈-fg-208 {
      color: rgb(255,135,0);
    }
    .🌈-bg-209 {
      background-color: rgb(255,135,95);
    }
    .🌈-fg-209 {
      color: rgb(255,135,95);
    }
    .🌈-bg-210 {
      background-color: rgb(255,135,135);
    }
    .🌈-fg-210 {
      color: rgb(255,135,135);
    }
    .🌈-bg-211 {
      background-color: rgb(255,135,175);
    }
    .🌈-fg-211 {
      color: rgb(255,135,175);
    }
    .🌈-bg-212 {
      background-color: rgb(255,135,215);
    }
    .🌈-fg-212 {
      color: rgb(255,135,215);
    }
    .🌈-bg-213 {
      background-color: rgb(255,135,255);
    }
    .🌈-fg-213 {
      color: rgb(255,135,255);
    }
    .🌈-bg-214 {
      background-color: rgb(255,175,0);
    }
    .🌈-fg-214 {
      color: rgb(255,175,0);
    }
    .🌈-bg-215 {
      background-color: rgb(255,175,95);
    }
    .🌈-fg-215 {
      color: rgb(255,175,95);
    }
    .🌈-bg-216 {
      background-color: rgb(255,175,135);
    }
    .🌈-fg-216 {
      color: rgb(255,175,135);
    }
    .🌈-bg-217 {
      background-color: rgb(255,175,175);
    }
    .🌈-fg-217 {
      color: rgb(255,175,175);
    }
    .🌈-bg-218 {
      background-color: rgb(255,175,215);
    }
    .🌈-fg-218 {
      color: rgb(255,175,215);
    }
    .🌈-bg-219 {
      background-color: rgb(255,175,255);
    }
    .🌈-fg-219 {
      color: rgb(255,175,255);
    }
    .🌈-bg-220 {
      background-color: rgb(255,215,0);
    }
    .🌈-fg-220 {
      color: rgb(255,215,0);
    }
    .🌈-bg-221 {
      background-color: rgb(255,215,95);
    }
    .🌈-fg-221 {
      color: rgb(255,215,95);
    }
    .🌈-bg-222 {
      background-color: rgb(255,215,135);
    }
    .🌈-fg-222 {
      color: rgb(255,215,135);
    }
    .🌈-bg-223 {
      background-color: rgb(255,215,175);
    }
    .🌈-fg-223 {
      color: rgb(255,215,175);
    }
    .🌈-bg-224 {
      background-color: rgb(255,215,215);
    }
    .🌈-fg-224 {
      color: rgb(255,215,215);
    }
    .🌈-bg-225 {
      background-color: rgb(255,215,255);
    }
    .🌈-fg-225 {
      color: rgb(255,215,255);
    }
    .🌈-bg-226 {
      background-color: rgb(255,255,0);
    }
    .🌈-fg-226 {
      color: rgb(255,255,0);
    }
    .🌈-bg-227 {
      background-color: rgb(255,255,95);
    }
    .🌈-fg-227 {
      color: rgb(255,255,95);
    }
    .🌈-bg-228 {
      background-color: rgb(255,255,135);
    }
    .🌈-fg-228 {
      color: rgb(255,255,135);
    }
    .🌈-bg-229 {
      background-color: rgb(255,255,175);
    }
    .🌈-fg-229 {
      color: rgb(255,255,175);
    }
    .🌈-bg-230 {
      background-color: rgb(255,255,215);
    }
    .🌈-fg-230 {
      color: rgb(255,255,215);
    }
    .🌈-bg-231 {
      background-color: rgb(255,255,255);
    }
    .🌈-fg-231 {
      color: rgb(255,255,255);
    }
    .🌈-bg-232 {
      background-color: rgb(8,8,8);
    }
    .🌈-fg-232 {
      color: rgb(8,8,8);
    }
    .🌈-bg-233 {
      background-color: rgb(18,18,18);
    }
    .🌈-fg-233 {
      color: rgb(18,18,18);
    }
    .🌈-bg-234 {
      background-color: rgb(28,28,28);
    }
    .🌈-fg-234 {
      color: rgb(28,28,28);
    }
    .🌈-bg-235 {
      background-color: rgb(38,38,38);
    }
    .🌈-fg-235 {
      color: rgb(38,38,38);
    }
    .🌈-bg-236 {
      background-color: rgb(48,48,48);
    }
    .🌈-fg-236 {
      color: rgb(48,48,48);
    }
    .🌈-bg-237 {
      background-color: rgb(58,58,58);
    }
    .🌈-fg-237 {
      color: rgb(58,58,58);
    }
    .🌈-bg-238 {
      background-color: rgb(68,68,68);
    }
    .🌈-fg-238 {
      color: rgb(68,68,68);
    }
    .🌈-bg-239 {
      background-color: rgb(78,78,78);
    }
    .🌈-fg-239 {
      color: rgb(78,78,78);
    }
    .🌈-bg-240 {
      background-color: rgb(88,88,88);
    }
    .🌈-fg-240 {
      color: rgb(88,88,88);
    }
    .🌈-bg-241 {
      background-color: rgb(98,98,98);
    }
    .🌈-fg-241 {
      color: rgb(98,98,98);
    }
    .🌈-bg-242 {
      background-color: rgb(108,108,108);
    }
    .🌈-fg-242 {
      color: rgb(108,108,108);
    }
    .🌈-bg-243 {
      background-color: rgb(118,118,118);
    }
    .🌈-fg-243 {
      color: rgb(118,118,118);
    }
    .🌈-bg-244 {
      background-color: rgb(128,128,128);
    }
    .🌈-fg-244 {
      color: rgb(128,128,128);
    }
    .🌈-bg-245 {
      background-color: rgb(138,138,138);
    }
    .🌈-fg-245 {
      color: rgb(138,138,138);
    }
    .🌈-bg-246 {
      background-color: rgb(148,148,148);
    }
    .🌈-fg-246 {
      color: rgb(148,148,148);
    }
    .🌈-bg-247 {
      background-color: rgb(158,158,158);
    }
    .🌈-fg-247 {
      color: rgb(158,158,158);
    }
    .🌈-bg-248 {
      background-color: rgb(168,168,168);
    }
    .🌈-fg-248 {
      color: rgb(168,168,168);
    }
    .🌈-bg-249 {
      background-color: rgb(178,178,178);
    }
    .🌈-fg-249 {
      color: rgb(178,178,178);
    }
    .🌈-bg-250 {
      background-color: rgb(188,188,188);
    }
    .🌈-fg-250 {
      color: rgb(188,188,188);
    }
    .🌈-bg-251 {
      background-color: rgb(198,198,198);
    }
    .🌈-fg-251 {
      color: rgb(198,198,198);
    }
    .🌈-bg-252 {
      background-color: rgb(208,208,208);
    }
    .🌈-fg-252 {
      color: rgb(208,208,208);
    }
    .🌈-bg-253 {
      background-color: rgb(218,218,218);
    }
    .🌈-fg-253 {
      color: rgb(218,218,218);
    }
    .🌈-bg-254 {
      background-color: rgb(228,228,228);
    }
    .🌈-fg-254 {
      color: rgb(228,228,228);
    }
    .🌈-bg-255 {
      background-color: rgb(238,238,238);
    }
    .🌈-fg-255 {
      color: rgb(238,238,238);
    }
